<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1SE2Og0b7xwbtopuk4dUL7P0eLOmdS0A</string>
	<key>GCM_SENDER_ID</key>
	<string>269662949777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tuberculosisapp</string>
	<key>PROJECT_ID</key>
	<string>tbapp-b8133</string>
	<key>STORAGE_BUCKET</key>
	<string>tbapp-b8133.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269662949777:ios:5e84664bc72ecc80a4ca30</string>
</dict>
</plist>